/*===== color =====*/
/*===== font =====*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
/*===== border-radius =====*/
/*===== animation =====*/
@keyframes title {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes project {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1480px);
  }
}
@keyframes aboutTitle {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes item {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
.project {
  border-radius: 500px;
  margin: 100px 0;
  background-color: #FFFDF3;
  padding: 50px 0 120px;
}
.project .title {
  font-family: "Kanit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #333;
  text-transform: uppercase;
  margin: 0 0 30px;
  text-align: center;
}
.project .projectHorizontal {
  overflow-x: hidden;
  display: flex;
  gap: 30px;
}
.project .projectHorizontal .projectContainer .project-wrapper-text {
  padding: 0 50px 0 120px;
  width: 500px;
  height: max(70vh, 500px);
  font-family: "Kanit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #333;
  text-transform: uppercase;
  color: #89B2F4;
  display: grid;
  grid-template-columns: 1fr 78px;
  place-items: center;
}
.project .projectHorizontal .projectContainer .project-wrapper-text img {
  transition: 0.3s;
  width: 60%;
  animation: mov 1s infinite;
}
@keyframes mov {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 2px;
  }
  40% {
    margin-left: 5px;
  }
  50% {
    margin-left: 8px;
  }
  60% {
    margin-left: 10px;
  }
  90% {
    margin-left: 5px;
  }
  100% {
    margin-left: 0px;
  }
}
.project .projectHorizontal .projectContainer .project-wrapper {
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: max(70vh, 500px);
  border: 1px solid #89B2F4;
  border-radius: 30px;
  background-color: #fff;
  padding: 50px 35px;
  box-shadow: 5px 5px 10px rgba(206, 206, 206, 0.5);
}
.project .projectHorizontal .projectContainer .project-wrapper:hover .hoverImg {
  opacity: 1;
}
.project .projectHorizontal .projectContainer .project-wrapper a .text-wrapper h3 {
  font-family: "Kanit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.project .projectHorizontal .projectContainer .project-wrapper a .text-wrapper p {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}
.project .projectHorizontal .projectContainer .project-wrapper a .text-wrapper div {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  color: #89B2F4;
  width: 180px;
  height: 30px;
  display: grid;
  place-items: center;
  border: 1px solid #89B2F4;
  border-radius: 30px;
  margin-top: 80%;
}
.project .projectHorizontal .projectContainer .project-wrapper a .hoverImg {
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #89B2F4;
  border: 1px solid #89B2F4;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  text-indent: -9999px;
}/*# sourceMappingURL=가로스크롤.css.map */