/*===== color =====*/
/*===== font =====*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
/*===== shadow =====*/
/*===== border-radius =====*/
body {
  background-color: #F5F4EC;
}

/*===== header =====*/
.header {
  z-index: 99999;
  position: fixed;
  top: 0;
  width: 100%;
}
.header .nav {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  padding: 0 50px;
  align-items: center;
  justify-content: space-around;
  gap: 3vw;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
}
.header .nav .logo a {
  width: 120px;
}
.header .nav .logo a img {
  width: 100%;
}
.header .nav .logo a img:hover {
  transform: rotate(10deg);
}
.header .nav .navButton-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.header .nav .navButton-wrapper li:hover {
  color: #C63D2F;
}
.header .nav .githubLink a {
  width: 120px;
  height: 30px;
  display: grid;
  place-items: center;
  background-color: #C63D2F;
  border-radius: 30px;
  border: 1px solid #C63D2F;
  color: #fff;
}
.header .nav .githubLink a:hover {
  background-color: transparent;
  color: #C63D2F;
}

/*===== footer =====*/
.footer .eyes {
  text-indent: -9999px;
  display: flex;
  justify-content: center;
  margin: 0 290px 30px 0;
  transform: rotate(-5deg);
}
.footer .eyes .eye {
  width: 132px;
  height: 176px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.footer .eyes .eye .pupil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #481E14;
  display: block;
  position: absolute;
  left: calc(50% - 5px - 2px);
  top: calc(50% - 5px - 2px);
  transition: all ease 0.1s;
}
.footer .sectionTitle {
  width: 100%;
  text-align: center;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #333;
  position: relative;
}
.footer .sectionTitle::after {
  content: "";
  width: 35vw;
  height: 2px;
  background-color: #C63D2F;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.footer .sectionTitle::before {
  content: "";
  width: 35vw;
  height: 2px;
  background-color: #C63D2F;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.footer .contactButton {
  margin: 150px 5vw 20px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}
.footer .contactButton .contactLink-left {
  margin-left: 10vw;
}
.footer .contactButton .contactLink-left li:first-child {
  margin-bottom: 50px;
}
.footer .contactButton .contactLink-left li a {
  display: grid;
  place-items: center;
  width: 300px;
  height: 50px;
  border: 2px solid #C63D2F;
  background-color: #C63D2F;
  border-radius: 30px;
}
.footer .contactButton .contactLink-left li a:hover {
  background-color: transparent;
  color: #C63D2F;
}
.footer .contactButton .contactLink-right {
  text-wrap: nowrap;
  position: relative;
  color: #333;
}
.footer .contactButton .contactLink-right .svg {
  position: absolute;
  left: 240px;
  top: 20px;
  width: 200px;
  transform: rotate(15deg);
}
.footer .contactButton .contactLink-right .svg img {
  width: 100%;
}
.footer .contactButton .contactLink-right .click {
  position: absolute;
  left: 450px;
  top: -50px;
}
.footer .contactButton .contactLink-right .click a {
  position: relative;
}
.footer .contactButton .contactLink-right .click a .apple {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}
.footer .contactButton .contactLink-right .click a .apple img {
  width: 100%;
}
.footer .contactButton .contactLink-right .click a .larva {
  z-index: -9;
  position: absolute;
  top: 150px;
  left: 100px;
  width: 200px;
  transition: 0.3s;
  transform: rotate(15deg);
}
.footer .contactButton .contactLink-right .click a .larva img {
  width: 100%;
}
.footer .contactButton .contactLink-right .click a:hover .larva {
  left: 140px;
}
.footer .copyRights {
  margin-top: 200px;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  font-size: 16px;
}

/****** mouseEmoji ******/
.logo-emoji {
  width: 30px;
  position: fixed;
  top: 20px;
  left: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  will-change: transform;
  z-index: 999999;
}
.logo-emoji img {
  width: 100%;
}/*# sourceMappingURL=global.css.map */