/*===== color =====*/
/*===== font =====*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
main {
  /*===== main =====*/
  /*===== appleContainer =====*/
  /*===== appleEating =====*/
}
main .main {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
main .main .backGroundColor {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFDF3;
  width: 130vw;
  height: 100vw;
  border-radius: 50%;
  display: block;
}
main .main .eyes {
  text-indent: -9999px;
  display: flex;
  justify-content: center;
  margin: 200px auto;
}
main .main .eyes .eye {
  width: 132px;
  height: 176px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
main .main .eyes .eye .pupil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #481E14;
  display: block;
  position: absolute;
  left: calc(50% - 5px - 2px);
  top: calc(50% - 5px - 2px);
  transition: all ease 0.1s;
}
main .main .mainTitle-wrapper {
  width: 100%;
  font-family: "Luckiest Guy", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 180px;
  font-weight: 400;
  color: #C63D2F;
  position: absolute;
  top: 380px;
  padding: 0 5vw;
  line-height: 1.2;
}
main .main .mainTitle-wrapper .mainTitle:last-child {
  text-align: end;
}
main .appleContainer .appleRotation {
  background-color: #FFFDF3;
  height: 160vh;
  position: relative;
}
main .appleContainer .appleRotation img {
  width: 120px;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  transition: 0.1s;
}
main .appleEating {
  background-color: #FFFDF3;
}
main .appleEating .apple-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}
main .appleEating .apple-wrapper h3 {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #333;
  font-weight: 400;
  position: absolute;
  transition: 0.3;
  text-wrap: nowrap;
}
main .appleEating .apple-wrapper .svg {
  width: 120px;
  position: absolute;
  transition: 0.3;
}
main .appleEating .apple-wrapper .apple {
  position: absolute;
  width: 420px;
  transition: 0.3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .appleEating .apple-wrapper .larva {
  position: absolute;
  height: 100px;
  transition: 0.3;
}
main .appleEating .apple1 h3 {
  top: 30%;
  left: 73%;
}
main .appleEating .apple1 .svg {
  top: 30%;
  left: 64%;
}
main .appleEating .apple1 .larva {
  top: 20%;
  left: 20%;
  transform: rotate(5deg);
}
main .appleEating .apple2 h3 {
  top: 40%;
  left: 20%;
}
main .appleEating .apple2 .svg {
  top: 45%;
  left: 30%;
}
main .appleEating .apple2 .larva {
  top: 40%;
  left: 45%;
  transform: rotate(10deg);
}
main .appleEating .apple3 h3 {
  top: 55%;
  left: 77%;
}
main .appleEating .apple3 .svg {
  width: 200px;
  top: 50%;
  left: 63%;
}
main .appleEating .apple3 .larva {
  top: 58%;
  left: 60%;
  transform: rotate(10deg);
}
main .appleEating .apple4 h3 {
  top: 56%;
  left: 68%;
}
main .appleEating .apple4 .svg {
  width: 90px;
  top: 60%;
  left: 60%;
}
main .appleEating .apple4 .larva {
  top: 50%;
  left: 40%;
  transform: rotate(20deg);
}
main .appleEating .apple5 h3 {
  top: 38%;
  left: 20%;
}
main .appleEating .apple5 .svg {
  width: 110px;
  top: 30%;
  left: 32%;
}
main .appleEating .apple5 .larva {
  top: 50%;
  left: 20%;
  transform: rotate(10deg);
}/*# sourceMappingURL=index.css.map */