/*===== color =====*/
$mainColor: #89B2F4;
$pointColor: #FFB531;
$subDarkColor: #32160f;
$mainBgColor: #F5F4EC;
$subBgColor: #FFFDF3;
$textColor: #333;
$subTextColor: #666;
/*===== font =====*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@mixin mainTitle {
  font-family: "Kanit", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', cursive;
  font-size: 150px;
  font-weight: 600;
  color: $mainColor;
  text-transform: uppercase;
}

@mixin sectionTitle ($color: $textColor) {
  font-family: "Kanit", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: $color;
  text-transform: uppercase;
}

@mixin aboutText ($color: $textColor) {
  font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: $color;
}

@mixin sectionSubTitle ($color: $textColor) {
  font-family: "Kanit", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: $color;
  text-transform: uppercase;    
}

@mixin sectionText ($color: $textColor) {
  font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $color;
}

/*===== border-radius =====*/
$borderRadius: 30px;

/*===== animation =====*/
@keyframes title {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes project {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-370px * 4))
  }
}

@keyframes aboutTitle {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes item {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

// Breakpoints
$breakpoint-mobile: 500px;
$breakpoint-tablet: 1000px;
$breakpoint-desktop: 1390px;

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile + 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet + 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

/*===== style =====*/
*::selection {
  background-color: rgba(252, 134, 158, 0.5);
}

::-webkit-scrollbar {
  display: none;
}
body {
  background-color: $mainBgColor;
  }

/*===== header =====*/
.header {
  transition: 0.5s;
  z-index: 99999;
  position: fixed;
  top: 0;
  width: 100%;

  .nav {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    padding: 0 50px;
    align-items: center;
    justify-content: space-around;
    gap: 3vw;
    @include sectionText();

    .logo {
      a {

        img {
          width: 50px;

          &:hover {
            transform: rotate(10deg);
          }
        }
      }
    }

    .navButton-wrapper {
      display: flex;
      justify-content: space-evenly;

      li:hover {
        color: $mainColor;
      }
    }

    .githubLink {
      a {
        width: 120px;
        height: 30px;
        display: grid;
        place-items: center;
        background-color: $mainColor;
        border-radius: $borderRadius;
        border: 1px solid $mainColor;
        color: #fff;

        &:hover {
          background-color: transparent;
          color: $mainColor;
        }
      }
    }
  }
}

/*===== footer =====*/
.footer {
  width: 100%;

  .eyes {
    text-indent: -9999px;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 65vw;

    .eye {
      width: 50px;
      height: 70px;
      border-radius: 50%;
      background-color: #fff;
      position: relative;
      overflow: hidden;

      .pupil {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $subDarkColor;
        display: block;
        position: absolute;
        left: calc(50% - 10px/2 - 2px);
        top: calc(50% - 10px/2 - 2px);
        transition: all ease .1s;
        // z-index: 1000;
      }
    }
  }

  .title {
    width: 100%;
    display: grid;
    grid-template-columns: 5.5fr 200px 1fr;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;

    .sectionTitle {
      @include sectionSubTitle();
      text-align: center;
    }

    .line {
      position: relative;
      width: 100%;
      border-bottom: 1px solid $textColor;
      opacity: 0.5;
      height: 0;

      &:first-child::after {
        content: "";
        width: 10px;
        height: 10px;
        border: 1px solid $textColor;
        border-radius: 50%;
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child::after {
        content: "";
        width: 10px;
        height: 10px;
        border: 1px solid $textColor;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 5vw;
    @include sectionText();

    .copyRights {
      color: $subTextColor;
      justify-content: start;

    }

    .click {
      display: flex;
      gap: 30px;
      justify-self: end;

      a {
      padding: 8px 20px;
        background-color: $mainColor;
        border-radius: $borderRadius;
        border: 1px solid $mainColor;
        color: #fff;

        &:hover {
          background-color: transparent;
          color: $mainColor;
        }
    }
  }
}
}

/****** mouseEmoji ******/
.logo-emoji {
  width: 40px;
  position: fixed;
  top: 20px;
  left: 20px;
  user-select: none;
  will-change: transform;
  z-index: 999999;

  img {
    width: 100%;
  }
}

main {

  /*===== main =====*/
  .main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;

    .backGroundColor {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      background-color: $subBgColor;
      width: 130vw;
      height: 100vw;
      border-radius: 50%;
      display: block;
      text-indent: -9999px;
    }

    .eyes {
      text-indent: -9999px;
      display: flex;
      justify-content: center;
      margin: 20vh auto;

      .eye {
        width: 132px;
        height: 176px;
        border-radius: 50%;
        background-color: #fff;
        position: relative;
        overflow: hidden;

        .pupil {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $subDarkColor;
          display: block;
          position: absolute;
          left: calc(50% - 10px/2 - 2px);
          top: calc(50% - 10px/2 - 2px);
          transition: all ease 0.1s;
        }
      }
    }

    .mainTitle-container {
      vertical-align: top;
      text-transform: uppercase;
      width: 100%;
      @include mainTitle();
      position: absolute;
      top: 380px;
      padding: 0 15vw;
      line-height: 1.2;
      text-wrap: nowrap;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .mainTitle-wrapper {
        overflow: hidden;

        .letter {
          display: inline-block;
          line-height: 1em;
          transform-origin: 0 0;
        }
      }

      .mainTitle-wrapper2 {
        width: 100%;
        text-align: center;
        overflow: hidden;

        .letter {
          display: inline-block;
          line-height: 1em;
          transform-origin: 0 0;
        }
      }
    }
  }

  /*===== about =====*/
  .about {

    /*=== Drop ===*/
    .drop {
      width: 100%;
      height: 100vh;
      position: relative;
      overflow: hidden;
      margin-bottom: 100px;

      .backGroundColor {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $subBgColor;
        // opacity: 0.5;
        width: 130vw;
        height: 90vw;
        border-radius: 0 0 50% 50%;
        display: block;
      }

      .contentsWrapper {
        position: relative;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .text-wrapper {
          opacity: 0;
          transform: scale(2);
          .subTitle {
            overflow: hidden;
            height: 200px;
            margin-bottom: 30px;
            div {
              @include mainTitle();
              color: $textColor;
              font-size: 80px;
              line-height: 1.3;
              margin-bottom: 50px;
              div {
                display: inline-block;
                height: 200px;
              }
              &:first-child {
                @keyframes show {
                  0% {margin-top:-400px;}
                  5% {margin-top:-100px;}
                  33% {margin-top:-100px;}
                  38% {margin-top:-100px;}
                  66% {margin-top:-100px;}
                  69% {margin-top:0px;}
                  80% {margin-top:0px;}
                  99.99% {margin-top:0px;}
                  100% {margin-top:-400px;}
                }
                animation: show 5s  linear infinite;
              }
              &:last-child {
                font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 800;
                letter-spacing: 5px; 
              }
            }
          }
          
          .text {
            @include aboutText();
            opacity: 1;
            transform: translateY(0px);
            
            span {
              background-color: $pointColor;
              color: #fff;
            }
          }
        }
        .glitters {
          @keyframes glitter {
            0% {
              opacity: 0;
              zoom: 1;
            }
            30% {
              opacity: 0.2;
              zoom: 1.1;
            }
            50% {
              opacity: 0.5;
              zoom: 1.2;
            }
            70% {
              opacity: 0.6;
              zoom: 1.1;
            }
            100% {
              opacity: 0.8;
              zoom: 1;
            }
            
          }
          opacity: 0;
          transition: 0.5;
          &.show {
            animation: glitter 0.5s forwards;
          }
          .item {
            transition: 0.3s;
            opacity: 0.8;
            border-radius: 30px;
            border: 1px solid $mainColor;
            background-color: $mainColor;
            padding: 5px 10px;
            display: grid;
            place-items: center;
            position: absolute;
            @include sectionSubTitle(#fff);
            font-size: 20px;
            font-weight: 600;
            // animation: item 0.5s infinite;
            &:hover {
              background-color: transparent;
              color: $mainColor;
            }
          }
          .item1 {
            top: 10%;
            left: 20%;
            transform: rotate(15deg);
          }
          .item2 {
            top: -10%;
            left: 40%;
            transform: rotate(-10deg);
          }
          .item3 {
            top: 110%;
            left: 50%;
            transform: rotate(20deg);
          }
          .item4 {
            top: 30%;
            left: 80%;
            transform: rotate(-20deg);
          }
          .item5 {
            top: 50%;
            right: 25%;
            transform: rotate(15deg);
          }

          .glitter {
            position: absolute;
            width: 50px;
            opacity: 0.8;
            img {
              width: 100%;
            }
          }
          .glitter1 {
            top: 0%;
            right: 10%;
            transform: rotate(0deg);
            animation: glitter1 3s infinite;
            @keyframes glitter1 {
              100% {
                transform: rotate(360deg);
              }
            }
          }
          .glitter2 {
            top: 20%;
            left: 10%;
            transform: rotate(0);
            animation: glitter2 3s infinite;
            @keyframes glitter2 {
              100% {
                transform: rotate(-360deg);
              }
            }
          }
          .glitter3 {
            top: 40%;
            left: 30%;
            transform: scale(1) rotate(0deg);
            animation: glitter3 3s infinite;
            @keyframes glitter3 {
              50% {
                transform: scale(1.2) rotate(180deg);
              }
              100% {
                transform: scale(1) rotate(360deg);
              }
            }
          }
          .glitter4 {
            top: 80%;
            left: 80%;
            transform: scale(0.5);
            animation: glitter4 2s infinite;
            @keyframes glitter4 {
              50% {
                transform: scale(1);
              }
              100% {
                transform: scale(0.5);
              }
            }

          }
          .glitter5 {
            top: 60%;
            left: 20%;
            transform: scale(0.8);
            animation: glitter5 2s 0.5s infinite;
            @keyframes glitter5 {
              50% {
                transform: scale(1);
              }
              100% {
                transform: scale(0.8);
              }
            }
          }
          .glitter6 {
            top: 10%;
            left: 70%;
            transform: scale(1);
            opacity: 0;
            animation: glitter6 2s 1s infinite;
            @keyframes glitter6 {
              50% {
                transform: scale(1.1);
                opacity: 0.6;
              }
              100% {
                transform: scale(1);
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }

  /*===== skillTool =====*/
  .skillTool {
    padding: 50px 5vw 0;
    position: relative;
    margin-bottom: 150px;
    overflow: hidden;
    width: 100%;

    &.show {
      .title {
        opacity: 1;

        .letter {
          display: inline-block;
          animation: title 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        }
      }

      .skill2 {
        opacity: 1;
        transform: translateX(250px);
      }

      .skill1 {
        opacity: 1;
        transform: translateX(-250px);
      }
    }

    .title {
      @include sectionTitle();
      text-align: center;
      margin-bottom: 50px;
      overflow: hidden;
      opacity: 0;
    }



    .skill2 {
      transform: translateX(1000px);
    }

    .skill1 {
      transform: translateX(-1000px);
    }

    .skill-wrapper {
      &:hover {
        background-color: transparent;
        color: $textColor;
        border: 1px solid $mainColor;
        .subTitle {
          color: $pointColor;
        }
        .text-wrapper {

          p {
            span {
              color: $pointColor;
            }
          }
        }
      }

      margin: 0 auto 30px;
      transition: 0.3s;
      width: 800px;
      background-color: $mainColor;
      border: 1px solid $mainColor;
      border-radius: 30px;
      padding: 32px 30px 30px 35px;
      @include sectionText(#fff);
      display: grid;
      grid-template-columns: 1fr 1fr;
      opacity: 0;
      box-shadow: 5px 5px 10px rgba(206, 206, 206, 0.3);

      .subTitle {
        @include sectionSubTitle(#fff);
      }

      .text-wrapper {
        line-height: 1.7;
        transition: 0.3s;
      }
    }
  }

  /*===== project=====*/
  .project {
    &.show {
      .title {
        opacity: 1;

        .letter {
          display: inline-block;
          animation: title 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        }
      }
     .projectHorizontal {
      opacity: 1;
      margin-left: 0;
      }
    }

    border-radius: 2000px;
    margin: 100px 0;
    background-color: $subBgColor;
    padding: 50px 0 120px;
    .title {
      @include sectionTitle();
      margin: 0 0 30px;
      text-align: center;
      opacity: 0;
    }
    .projectHorizontal {
      overflow: hidden;
      display: flex;
      gap: 30px;
      opacity: 0;
      margin-left: 999px;
      transition: 1s;
      .projectContainer {
        padding: 10px;
        .project-wrapper-text {
          padding: 0 50px 0 120px;
          width: 500px;
          height: max(70vh , 500px);
          @include sectionSubTitle();
          color: #89B2F4;
          display: grid;
        grid-template-columns: 1fr 78px;
          place-items: center;
          img {
            transition: 0.3s;
            width: 60%;
            @keyframes mov {
              0% {
                margin-left: 0;
              }
              30% {
                margin-left: 2px;
              }
              40% {
                margin-left: 5px;
              }
              50% {
                margin-left: 8px;
              }
              60% {
                margin-left: 10px;
              }
              90% {
                margin-left: 5px;
              }
              100% {
                margin-left: 0px;
              }
            }
            animation: mov 1s infinite;
          }
        }
        .project-wrapper {

          margin: 0 auto;
          position: relative;
          width: 500px;
          height: max(70vh , 500px);
          border: 1px solid $mainColor;
          border-radius: 30px;
          background-color: #fff;
          padding: 50px 35px;
          box-shadow: 5px 5px 10px rgba(206, 206, 206, 0.3);
          &:hover {
            .hoverImg {
              opacity: 1;
            }
          }
          a {
            .text-wrapper {
              h3 {
                @include sectionSubTitle();
                margin-bottom: 50px;
              }
              p {
                @include sectionText();
                margin-bottom: 20px;
              }
              div {
                @include sectionText();
                color: #fff;
                width: 180px;
                height: 30px;
                display: grid;
                place-items: center;
                background-color: $mainColor;
                border-radius: 30px;
                margin-top: 80%;
              }
            }
            .hoverImg {
              padding: 50px 35px; 
              opacity: 0;
              transition: 0.3s;
              position: absolute;
              top: 0;
              left: 0;
              background-color: $mainColor;
              border: 1px solid $mainColor;
              width: 100%;
              height: 100%;
              border-radius: 30px;
              h3 {
                @include sectionSubTitle();
                margin-bottom: 50px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

/************ 1400 */
@include desktop {
  main {

    /*===== main =====*/
    .main {
      .mainTitle-container {
        font-size: 100px;
        }
    }

    /*===== about =====*/
    .about {
      /*=== Drop ===*/
      .drop {

        .backGroundColor {
          border-radius: 0 0 50% 50%;
        }
        .contentsWrapper {
          top: 40%;
          .glitters {
            .item1 {
              left: 15%;
            }
            .item5 {
              right: 15%;
            }
            .glitter3 {
              top: 55%;
            }
            .glitter4 {
              top: 80%;
              left: 80%;
              transform: scale(0.5);
              animation: glitter4 2s infinite;
              @keyframes glitter4 {
                50% {
                  transform: scale(1);
                }
                100% {
                  transform: scale(0.5);
                }
              }
            }
            .glitter6 {
              top: 0%;
            }
          }
        }
      }
    }

    /*===== skillTool =====*/
    .skillTool {
      &.show {
        .skill2 {
          transform: translateX(0px);
        }

        .skill1 {
          transform: translateX(0px);
        }
      }
    }
    /*===== project=====*/
    .project {
      height: 100vh;
      .backGroundColor {
        height: 100vh;
      }
     .title {
       padding: 0 0 30px;
     }
    }
  }
}

/*********** 1000 */
@include tablet {
  main {

    /*===== main =====*/
    .main {
      .mainTitle-container {
        font-size: 80px;
        }
    }

    /*===== about =====*/
    .about {
      /*=== Drop ===*/
      .drop {

        .backGroundColor {
          top: 0;
          border-radius: 0 0 50% 50%;
        }
        .contentsWrapper {
          top: 30%;
          .glitters {
            .item1 {
              left: 15%;
            }
            .item5 {
              right: 15%;
            }
            .glitter3 {
              top: 55%;
            }
            .glitter4 {
              top: 80%;
              left: 80%;
              transform: scale(0.5);
              animation: glitter4 2s infinite;
              @keyframes glitter4 {
                50% {
                  transform: scale(1);
                }
                100% {
                  transform: scale(0.5);
                }
              }
            }
            .glitter6 {
              top: 0%;
            }
          }
        }
      }
    }

    /*===== skillTool =====*/
    .skillTool {
      &.show {
        .skill2 {
          transform: translateX(0px);
        }

        .skill1 {
          transform: translateX(0px);
        }
      }
    }
    /*===== project=====*/
    .project {
      height: 100vw;
      .backGroundColor {
        height: 100vw;
      }
      .title {
        padding: 0 0 30px;
      }
    }
  }
}

/*********** 430 */
@include mobile {}