/*===== color =====*/
/*===== font =====*/
@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/*===== border-radius =====*/
/*===== animation =====*/
@keyframes title {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes project {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1480px);
  }
}
@keyframes svg {
  0% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes apple {
  0% {
    transform: translate(-50%, -80%) rotate(-15deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
body {
  background-color: #F5F4EC;
}

/*===== header =====*/
.header {
  transition: 0.5s;
  z-index: 99999;
  position: fixed;
  top: 0;
  width: 100%;
}
.header .nav {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  padding: 0 50px;
  align-items: center;
  justify-content: space-around;
  gap: 3vw;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}
.header .nav .logo a {
  width: 120px;
}
.header .nav .logo a img {
  width: 100%;
}
.header .nav .logo a img:hover {
  transform: rotate(10deg);
}
.header .nav .navButton-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.header .nav .navButton-wrapper li:hover {
  color: #C63D2F;
}
.header .nav .githubLink a {
  width: 120px;
  height: 30px;
  display: grid;
  place-items: center;
  background-color: #C63D2F;
  border-radius: 30px;
  border: 1px solid #C63D2F;
  color: #fff;
}
.header .nav .githubLink a:hover {
  background-color: transparent;
  color: #C63D2F;
}

/*===== footer =====*/
.footer .eyes {
  text-indent: -9999px;
  display: flex;
  justify-content: center;
  margin: 0 auto 20px;
}
.footer .eyes .eye {
  width: 50px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.footer .eyes .eye .pupil {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #481E14;
  display: block;
  position: absolute;
  left: calc(50% - 5px - 2px);
  top: calc(50% - 5px - 2px);
  transition: all ease 0.1s;
}
.footer .title {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  gap: 10px;
  align-items: center;
}
.footer .title .sectionTitle {
  font-family: "Bellota", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #333;
  text-align: center;
}
.footer .title .line {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #C63D2F;
  opacity: 0.5;
  height: 0;
}
.footer .title .line:first-child::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #C63D2F;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.footer .title .line:last-child::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #C63D2F;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.footer .contactButton {
  display: flex;
  gap: 100px;
  padding: 50px 5vw;
  justify-content: center;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  font-weight: 500;
}
.footer .contactButton div a {
  position: relative;
  overflow: hidden;
}
.footer .contactButton div a:hover::after {
  content: "";
  opacity: 0;
  width: 0%;
}
.footer .contactButton div a::after {
  content: "";
  opacity: 1;
  width: 110%;
  height: 1.5px;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  transition: 0.5s;
}
.footer .copyRights {
  margin: 0 5vw 50px;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  font-size: 16px;
}

/****** mouseEmoji ******/
.logo-emoji {
  width: 30px;
  position: fixed;
  top: 20px;
  left: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  will-change: transform;
  z-index: 999999;
}
.logo-emoji img {
  width: 100%;
}

main {
  /*===== main =====*/
  /*===== appleContainer =====*/
}
main .main {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
main .main .backGroundColor {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFDF3;
  width: 130vw;
  height: 100vw;
  border-radius: 50%;
  display: block;
  text-indent: -9999px;
}
main .main .eyes {
  text-indent: -9999px;
  display: flex;
  justify-content: center;
  margin: 20vh auto;
}
main .main .eyes .eye {
  width: 132px;
  height: 176px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
main .main .eyes .eye .pupil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #481E14;
  display: block;
  position: absolute;
  left: calc(50% - 5px - 2px);
  top: calc(50% - 5px - 2px);
  transition: all ease 0.1s;
}
main .main .mainTitle-container {
  vertical-align: top;
  text-transform: uppercase;
  width: 100%;
  font-family: "Bellota", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 120px;
  font-weight: 800;
  color: #C63D2F;
  position: absolute;
  top: 380px;
  padding: 0 10vw;
  line-height: 1.2;
  text-wrap: nowrap;
  display: flex;
  flex-wrap: wrap;
}
main .main .mainTitle-container .mainTitle-wrapper {
  overflow: hidden;
}
main .main .mainTitle-container .mainTitle-wrapper .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
main .main .mainTitle-container .mainTitle-wrapper2 {
  width: 100%;
  text-align: right;
  overflow: hidden;
}
main .main .mainTitle-container .mainTitle-wrapper2 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
main .appleContainer {
  /*=== appleRoration ===*/
  /*=== appleEating ===*/
  /*=== circularDrop ===*/
}
main .appleContainer .appleRotation {
  background-color: #FFFDF3;
  height: 200vh;
  position: relative;
}
main .appleContainer .appleRotation img {
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  transition: 0.1s;
}
main .appleContainer .circularDrop {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}
main .appleContainer .circularDrop .backGroundColor {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFDF3;
  width: 130vw;
  height: 100vw;
  border-radius: 50%;
  display: block;
}
main .appleContainer .circularDrop .text-wrapper {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
main .appleContainer .circularDrop .text-wrapper .item {
  border-radius: 30px;
  border: 1px solid #C63D2F;
  background-color: #C63D2F;
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  position: absolute;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  font-weight: 600;
}
main .appleContainer .circularDrop .text-wrapper .item.hover {
  display: none;
}
main .appleContainer .circularDrop .text-wrapper .item1 {
  top: -2%;
  left: 40%;
  transform: rotate(-15deg);
}
main .appleContainer .circularDrop .text-wrapper .item2 {
  top: 80%;
  left: 20%;
  transform: rotate(15deg);
}
main .appleContainer .circularDrop .text-wrapper .item3 {
  top: 65%;
  left: 75%;
  transform: rotate(-25deg);
}
main .appleContainer .circularDrop .text-wrapper .item4 {
  top: 15%;
  left: 75%;
  transform: rotate(30deg);
}
main .appleContainer .circularDrop .text-wrapper .item5 {
  top: 40%;
  left: 15%;
  transform: rotate(-30deg);
}
main .appleContainer .circularDrop .text-wrapper .subTitle {
  font-family: "Bellota", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 120px;
  font-weight: 800;
  color: #C63D2F;
  color: #333;
  font-size: 80px;
  line-height: 1.3;
  margin-bottom: 50px;
}
main .appleContainer .circularDrop .text-wrapper .text {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
}
main .appleContainer .circularDrop .text-wrapper .text span {
  background-color: #FFDDB4;
}

/*===== skillTool =====*/
.skillTool {
  padding: 100px 5vw 0;
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
}
.skillTool.show .title {
  opacity: 1;
}
.skillTool.show .title .letter {
  display: inline-block;
  animation: title 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.skillTool.show .skill2 {
  opacity: 1;
  transform: translateX(250px);
}
.skillTool.show .skill1 {
  opacity: 1;
  transform: translateX(-250px);
}
.skillTool .title {
  font-family: "Bellota", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #333;
  text-align: center;
  margin-bottom: 50px;
  overflow: hidden;
  opacity: 0;
}
.skillTool .skill2 {
  transform: translateX(1000px);
}
.skillTool .skill1 {
  transform: translateX(-1000px);
}
.skillTool .skill-wrapper {
  margin: 0 auto 30px;
  transition: 1s;
  width: 800px;
  background-color: #C63D2F;
  border: 1px solid #C63D2F;
  border-radius: 30px;
  padding: 32px 30px 30px 35px;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 0;
  box-shadow: 5px 5px 10px rgba(206, 206, 206, 0.5);
}
.skillTool .skill-wrapper .subTitle {
  font-family: "Bellota", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}
.skillTool .skill-wrapper .text-wrapper {
  line-height: 1.7;
}

/*===== project=====*/
.project {
  width: 100%;
  margin: 0 auto 200px;
  padding: 100px 5vw;
  overflow: hidden;
}
.project.show .title {
  opacity: 1;
}
.project.show .title .letter {
  display: inline-block;
  animation: title 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.project.show .project-container {
  opacity: 1;
  transform: translateY(-30px);
}
.project .title {
  font-family: "Bellota", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #333;
  text-align: center;
  margin-bottom: 60px;
  opacity: 0;
}
.project .project-container {
  opacity: 0;
  transition: 0.5s;
  display: flex;
  gap: 30px;
  animation: project 35s linear infinite;
  width: 3200px;
}
.project .project-container .project-wrapper {
  position: relative;
  width: 400px;
  height: 500px;
  border: 1px solid rgba(198, 62, 47, 0.3);
  border-radius: 30px;
  padding: 50px 32px;
  box-shadow: 5px 5px 10px rgba(206, 206, 206, 0.5);
}
.project .project-container .project-wrapper:hover .hoverImg {
  display: block;
}
.project .project-container .project-wrapper .text-wrapper h3 {
  font-family: "Bellota", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #333;
  margin-bottom: 50px;
}
.project .project-container .project-wrapper .text-wrapper p {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}
.project .project-container .project-wrapper .text-wrapper div {
  width: 200px;
  height: 40px;
  display: grid;
  place-items: center;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #C63D2F;
  border: 1px solid #C63D2F;
  border-radius: 30px;
  margin-top: 200px;
}
.project .project-container .project-wrapper .hoverImg {
  background-color: #C63D2F;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: none;
}/*# sourceMappingURL=index.css.map */