@charset "UTF-8";
/*===== color =====*/
/*===== font =====*/
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Poetsen+One&display=swap");
main .contentsWrapper {
  /*===== mainImg */
  /*===== contentSection 공통 레이아웃 */
  /*===== design */
  /*===== review */
}
main .contentsWrapper .contentSection .content .listWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  padding-left: 25px;
}
main .contentsWrapper .contentSection .content .listWrapper .listStyle {
  position: relative;
}
main .contentsWrapper .contentSection .content .listWrapper .listStyle span {
  font-weight: 700;
}
main .contentsWrapper .contentSection .content .listWrapper .listStyle::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #666;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
}
main .contentsWrapper .design .content .designContents_wrapper .keyword .keywordList {
  display: flex;
  gap: 20px;
}
main .contentsWrapper .design .content .designContents_wrapper .keyword .keywordList li {
  transition: 0.3s;
  padding: 0 25px;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: rgba(255, 179, 49, 0.3);
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  border-radius: 40px;
  border: 1px solid transparent;
}
main .contentsWrapper .design .content .designContents_wrapper .keyword .keywordList li:hover {
  border: 1px solid #FFB531;
  background-color: transparent;
}
main .contentsWrapper .design .content .designContents_wrapper .color .colorList li:nth-child(1) .colorChip {
  background-color: #00AD4D;
}
main .contentsWrapper .design .content .designContents_wrapper .color .colorList li:nth-child(2) .colorChip {
  background-color: #FF2108;
}
main .contentsWrapper .design .content .designContents_wrapper .color .colorList li:nth-child(3) .colorChip {
  background-color: #FFD100;
}
main .contentsWrapper .design .content .designContents_wrapper .font .text p {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 10px;
}
main .contentsWrapper .design .content .designContents_wrapper .font .text p span {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  width: 100px;
  display: inline-block;
}
main .contentsWrapper .design .content .designContents_wrapper .font .text .titleFont {
  font-family: "Poetsen One", sans-serif;
}
main .contentsWrapper .design .content .designContents_wrapper .font .text .pointFont {
  font-family: "Bagel Fat One", system-ui;
}
main .contentsWrapper .review .content div {
  margin-bottom: 40px;
}
main .contentsWrapper .review .content div .subTitle {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}
main .contentsWrapper .review .content div .listWrapper .listStyle::after {
  content: "";
  top: 13px;
  left: -25px;
}
main .contentsWrapper .review .content div .listWrapper .listStyle span {
  font-weight: 700;
}/*# sourceMappingURL=project_LaughingCharlie.css.map */