@import "./project_val.scss";





/*===== style =====*/
*::selection {
  background-color: rgba(252, 134, 158, 0.5);
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $mainBgColor;
}


/*===== up */
.up {
  &.on {
    display: block;
  }
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #b9b9b9;
  img {
    width: 40px;
  }
  &:hover {
    @keyframes up {
      0% {
        bottom: 43px;
      }
      50% {
        bottom: 40px;
      }
      100% {
        bottom: 43px;
      }
    }
    animation: up 0.5s infinite;
  }
}

/*===== header_nav */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  .home {
    position: absolute;
    top: -3px;
    left: 20px;
    border-radius: 0  0 30px 30px;
    box-shadow: 0px 0px 5px $mainColor;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(137, 178, 244, 0.5);
    padding: 20px 40px;
    transition: 0.5s;
    &:hover {
      box-shadow: 0px 0px 1px $mainColor;
      border: 2px solid $mainColor;
    }
    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      img {
        width: 18px;
      }
      p {
        @include Text($w_xl, $s_md, $mainColor);
        line-height: 0.8;
      }
    }
  }

  .menuWrapper {
    position: absolute;
    top: 30px;
    right: 40px;
    display: grid;
    gap: 2px;
    justify-content: end;
    align-items: end;
    &:hover {
      .menu {
        display: block;
      }
    }
    .btnWrapper {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      align-self: start;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: end;
      gap: 6px;
      padding: 15px 15px 0 0;
      z-index: 999;
      .btn {
        width: 35px;
        height: 4px;
        background-color: $mainColor;
        border-radius: 4px;
      }
      .btn2 {
        width: 30px;
      }
    }
    .menu {
      display: none;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      transition: 0.8s;
      padding: 50px 15px 30px 30px;
      backdrop-filter: blur(5px);
      border-radius: 10px;
      .menuList {
        text-align: end;
        @include Text($w_md, $s_md, $textColor);
        li {
          padding: 5px 0;
          a {
            position: relative;
            &:hover {
              &::after {
                content: "";
                width: 100%;
              }
            }
            &::after {
              content: "";
              transition: 0.8s;
              width: 0;
              height: 10px;
              background-color: rgba(255, 179, 49, 0.3);
              position: absolute;
              bottom: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}



/*======== main */
main {
  display: grid;
  grid-template-columns: minmax(300px, 500px) 1fr;


  /*===== aside_fixed */
  .aside_fixed {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: $subBgColor;
    display: grid;
    place-items: center;

    .centerItem {
      .title {
        margin-bottom: 50px;

        p {
          @include Text($w_md, $s_sm, $mainColor)
        }

        h1 {
          @include Text($w_xl, $s_lg, $mainColor)
        }
      }

      .subText {
        margin-bottom: 50px;
        @include Text($w_md, $s_sm, $textColor);
      }

      .text {
        margin-bottom: 50px;
        @include Text($w_lg, $s_md, $textColor);
      }

      .skill {
        margin-bottom: 100px;

        p {
          @include Text($w_lg, $s_sm, $subTextColor);
          margin-bottom: 5px;
        }

        ul {
          @include Text($w_lg, $s_md, $textColor);
          display: flex;
          gap: 20px;
          margin-bottom: 3px;

          li {
            position: relative;

            &:hover {
              &::after {
                content: "";
                width: 100%;
              }
            }

            &::after {
              content: "";
              width: 0%;
              height: 15px;
              background-color: rgba(255, 179, 49, 0.3);
              position: absolute;
              bottom: 0;
              left: 0;
              transition: 0.3s
            }
          }
        }
      }

      .viewSite {
        a {
          &:last-child {
            background-color: transparent;
            color: $mainColor;
          }
          transition: 0.3s;
          max-width: 400px;
          min-width: 150px;
          height: 50px;
          background-color: $mainColor;
          border: 1px solid $mainColor;
          @include Text($w_lg, 20px, #fff);
          border-radius: 40px;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.8s;
          padding: 0 50px;
          transition: 0.3s;
          img {
            height: 20px;
            display: none;
          }
          &:hover {
            gap: 20px;
            justify-content: space-between;
            background-color: transparent;
            color: $mainColor;
            img {
              display: block;
            }
          }
        }
      }
    }
  }


  /*===== contentsWrapper */
  .contentsWrapper {

    /*=== mainImgItem */
    .mainImgItem {
      background-image: linear-gradient($subBgColor 90%, $mainBgColor);
      width: 100%;
      height: 110vh;
      display: grid;
      place-items: center;
      padding-bottom: 100px;
      margin-bottom: 60px;

      img {
        width: 70%;
        z-index: 9;
      }
    }


    /*=== contentsSection 공통 레이아웃 */
    .contentSection {
     /* &.show {
        opacity: 1;
        transform: translateY(0px);
      }

      transition: 0.8s;
      opacity: 0;
      transform: translateY(-100px); 
      */
      padding: 0 50px 100px 100px;
      display: grid;
      grid-template-columns: 260px 1fr;
      grid-template-rows: 60px 1fr;

      .title {
        @include Text($w_lg, 30px, $subTextColor);
        line-height: 1;
        grid-column: 1 / 2;
        grid-row: 1/ 2;
      }

      .content {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }

    }


    /*=== objective */
    .objective {
      .content {
        padding-top: 10px;
        grid-row: 1 / 3;

        p {
          @include Text($w_md, $s_md, $textColor);
          line-height: 1.5;
        }
      }
    }


    /*=== design */
    .design {
      .content {
        .designContents_wrapper {
          li {
            margin-bottom: 40px;

            .subTitle {
              @include Text($w_md, $s_sm, $textColor);
              margin-bottom: 20px;
            }
          }

          .keyword {
            .keywordList {
              display: flex;
              gap: 20px;

              li {
                transition: 0.3s;
                max-width: 150px;
                min-width: 110px;
                height: 40px;
                display: grid;
                place-items: center;
                background-color: rgba(255, 179, 49, 0.30);
                @include Text($w_lg, $s_md, $textColor);
                border-radius: 40px;
                border: 1px solid transparent;

                &:hover {
                  border: 1px solid $pointColor;
                  background-color: transparent;
                }
              }
            }
          }

          .color {
            .colorList {
              display: flex;
              gap: 25px;

              li {
                &:nth-child(1) {
                  .colorChip {
                    background-color: #F6F6F6;
                  }
                }
                &:nth-child(2) {
                  .colorChip {
                    background-color: #ddd;
                  }
                }
                &:nth-child(3) {
                  .colorChip {
                    background-color: #777;
                  }
                }
                &:nth-child(4) {
                  .colorChip {
                    background-color: #222;
                  }
                }
                text-align: center;
                @include Text($w_md, $s_sm, $textColor);
                max-width: 100px;
                min-width: 50px;

                .colorChip {
                  width: 80px;
                  height: 80px;
                  border-radius: 50%;
                  box-shadow: 2px 2px 5px rgba(119, 119, 119, 0.3 );
                  margin-bottom: 15px;
                }
              }
            }
          }

          .font {
            .koFont {
              @include Text($w_xl, 30px, $textColor);
              margin-bottom: 10px;
            }

            .enFont {
              @include Text($w_xl, 30px, $textColor)
            }
          }
        }
      }
    }


    /*=== publishing*/
    .publishing {
      .content {
        .publishingLIst {
          display: flex;
          flex-direction: column;
          gap: 15px;
          @include Text($w_md, $s_md, $textColor);
          padding-left: 25px;

          li {
            position: relative;

            &::after {
              content: "";
              width: 10px;
              height: 10px;
              border-radius: 50%;
              border: 1px solid $subTextColor;
              position: absolute;
              top: 50%;
              left: -25px;
              transform: translateY(-50%);
            }

            span {
              font-weight: $w_xl;
            }
          }
        }
      }
    }


    /*=== problemSolution */
    .problemSolution {
      /*
      &.show {
        .title {
          opacity: 1;
        }
      }

      transition: 0.8s;
      opacity: 0;
      */
      grid-template-rows: 120px 1fr;

      .content {
        .problemContainer {
          .problemWrapper {
            /*
            &.active {
              opacity: 1;
              transform: translateY(0px);
            }

            opacity: 0;
            transform: translateY(-100px);
            */
            transition: 0.8s;
            border-left: 1px solid $subTextColor;
            padding: 0 0 80px 25px;

            .subTitle {
              margin-bottom: 20px;
              @include Text($w_lg, 20px, $textColor);

              span {
                @include Text($w_lg, 50px, $pointColor);
              }
            }

            .problem {
              &::after {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $subTextColor;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -31px;
              }

              position: relative;
              @include Text($w_lg, $s_md, $textColor);
              margin-bottom: 15px;
            }

            .problemSub {
              @include Text($w_sm, $s_sm, $subTextColor);
              margin-bottom: 50px;
            }

            .solution {
              &::after {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid $subTextColor;
                background-color: $mainBgColor;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -31px;
              }

              position: relative;
              @include Text($w_md, $s_md, $textColor);
              margin-bottom: 20px;
            }
          }
        }
      }
    }

    /*=== review */
    .review {
      grid-template-rows: 60px 1fr 30px;

      .content {
        padding-top: 10px;
        grid-row: 1 / 3;

        .textWrapper {
          li {
            @include Text($w_md, $s_md, $textColor);
            margin-bottom: 30px;
            span {
              font-weight: $w_xl;
            }
          }
        }

      }
    }
  }
}