@import "./project_val.scss";
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Poetsen+One&display=swap');

main {
  .contentsWrapper {
    /*===== mainImg */
    .mainImgItem {    
    }

    /*===== contentSection 공통 레이아웃 */
    .contentSection {
      .content {
        .listWrapper {
          display: flex;
          flex-direction: column;
          gap: 15px;
          @include Text($w_md, $s_md, $textColor);
          padding-left: 25px;
          .listStyle {
              position: relative;
              span {
                font-weight: $w_xl;
              }
              &::after {
              content: "";
              width: 10px;
              height: 10px;
              border-radius: 50%;
              border: 1px solid $subTextColor;
              position: absolute;
              top: 50%;
              left: -25px;
              transform: translateY(-50%);
            }
          }
        }
      }
    }

    /*===== design */
    .design {
      .content {
        .designContents_wrapper {
          .keyword {
            .keywordList {
              display: flex;
              gap: 20px;

              li {
                transition: 0.3s;
                padding: 0 25px;
                height: 40px;
                display: grid;
                place-items: center;
                background-color: rgba(255, 179, 49, 0.30);
                @include Text($w_lg, $s_md, $textColor);
                border-radius: 40px;
                border: 1px solid transparent;

                &:hover {
                  border: 1px solid $pointColor;
                  background-color: transparent;
                }
              }
            }
          }
          .color {
            .colorList {
              li {
                &:nth-child(1) {
                  .colorChip {
                    background-color: #00AD4D;
                  }
                }
                &:nth-child(2) {
                  .colorChip {
                    background-color: #FF2108;
                  }
                }
                &:nth-child(3) {
                  .colorChip {
                    background-color: #FFD100;
                  }
                }
              }
            }
          }
          .font {
            .text {
              p {
                @include Text($w_xl, 30px, $textColor);
                margin-bottom: 10px;
                span {
                  @include Text($w_md, $s_sm, $subTextColor);
                  width: 100px;
                  display: inline-block;
                }
              }
              .titleFont {
                font-family: "Poetsen One", sans-serif;
              }
              .pointFont {
                font-family: "Bagel Fat One", system-ui;
              }
            }
          }
        }
      }
    }


    /*===== review */
    .review {
      .content {
        div {
          margin-bottom: 40px;
          .subTitle {
            @include Text($w_md, $s_sm, $textColor);
            margin-bottom: 20px;
          }
          .listWrapper {
            .listStyle {
              &::after {
                content: "";
                top: 13px;
                left: -25px;
              }
              span {
                font-weight: $w_xl;
              }
            }
          }
        }
      }
    }
  }
}